
.podserver_container {
	width: 100%;
    	text-align: center;	
}

BODY {
	background-image:url('../images/hatched-light.jpg');
}

FORM {
	width:550px;
	display: inline-block;
    	text-align: center;
	border:solid #272222 3px;border-radius:8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;
	padding:0px;
	background-color:#EEE;
}
FORM * {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

IFRAME {
	width:100%;
	border:none;
	border-top:solid #272222 3px; 
	border-bottom:solid #272222 3px; 
	height:0px;
	margin:0px;
	margin-bottom:10px;
	/*background-image:url('../images/seedsstripe.gif');*/
	background-size:550px 80px;
	background-color:#939393;
}

H1 { font-weight:bold;font-size: 18px;}

H2 { font-weight:bold;text-align:left;}

HR { border:solid 1px #272222;}

TEXTAREA, INPUT, LABEL {
	margin: 5px 5px 5px 0px;
}
TEXTAREA, INPUT {
	border: #666 1px solid; 
	background-color: #fff;
	width: 250px; 
}
TEXTAREA {
	width: 250px; 
	height: 200px
}
FORM P {
	clear: both; margin: 0
}
FORM LABEL {
	float: left; width: 250px; text-align: right
}


.label_disabled{
	color:gray;
}

TEXTAREA, INPUT {
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
	border:solid 1px #AFAAB4;
	margin:0px 0px 10px 0px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	height:20px;
	
}
TEXTAREA:disabled, INPUT:disabled {
	border: #CCCCCC 1px solid; 
}

input[type="button"],input[type="submit"] {
	height:30px;
	cursor: pointer; 
	padding: 1px;
	color: #fff; 
	background-color: #57B6F7; 
}

input[type="button"]:hover,input[type="submit"]:hover {
	border: 1px #939393 solid;
	background-color: #067DCF;
}

input[type="button"]:disabled,input[type="submit"]:disabled{
	background-color: #CCCCCC; 
	cursor: default;	
}

input[type="button"]:disabled:hover,input[type="submit"]:disabled:hover{
        border: 1px solid #CCCCCC;
	cursor: default;	
}

input[type="checkbox"] , select{
	float:left;
	margin: 5px 5px 5px 10px;
}

#record{
	margin-top:5px;
}

.alerte {
	font-weight: bold; font-size: 14px
}
.focus {
	background: #ff9
}

.header_bar{
	padding-top:3px;
	margin:0px;
	height:35px;
	font-size:24px;
	color:#fff;
	background-image:url('../images/header-bg.png');
}




