
.podserver_container {
	width: 100%;
    	text-align: center;	
}


FORM {
	width:550px;
	display: inline-block;
    	text-align: center;
	border:solid #48f 3px;border-radius:8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;
}
FORM * {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

IFRAME {
	width:100%;
	border:none;
	border-top:solid #48f 3px; 
	border-bottom:solid #48f 3px; 
	height:50px;
	margin-bottom:10px;
}

H1 { font-weight:bold;font-size: 18px;}

H2 { font-weight:bold;}

HR { border:solid 1px #48f;}

TEXTAREA, INPUT, LABEL {
	margin: 5px 5px 5px 0px;
}
TEXTAREA, INPUT {
	border: #666 1px solid; 
	background-color: #fff;
	width: 250px; 
}
TEXTAREA {
	width: 250px; 
	height: 200px
}
FORM P {
	clear: both; margin: 0
}
FORM LABEL {
	float: left; width: 250px; text-align: right
}

TEXTAREA, INPUT {
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
	border:solid 1px #AFAAB4;
	margin:0px 0px 10px 0px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	height:20px;
	
}
TEXTAREA:disabled, INPUT:disabled {
	box-shadow:none;
	border: #CCCCCC 1px solid; 
}

input[type="button"]:disabled{
	background-color: #CCCCCC; 
	cursor: default;	
}

input[type="button"]:disabled:hover{
	border: 1px solid #CCCCCC;
	cursor: default;	
}


#submit ,input[type="button"] , .msg {
	height:30px;
	border: 1px #000 solid; cursor: pointer; padding: 1px; color: #fff; background-color: #4488FF; 
}

input[type="checkbox"] , select{float:left;margin: 5px 5px 5px 10px}

#submit:hover , input[type="button"]:hover {
	border: 1px red solid
}

#record{
	margin-top:5px;
}

.alerte {
	font-weight: bold; font-size: 14px
}
.focus {
	background: #ff9
}


